.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  padding: 0 auto;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin: 15px;
  transition: box-shadow 0.2s ease;
  width: 23%;
  flex-wrap: wrap;
}

.product-image-container {
  position: relative;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  object-fit: cover;
}

.product-info {
  text-align: center;
  padding-top: 10px;
}

.add-to-collections-popup {
  
  position: absolute;
  top: 5px;
  right: 5px;
}

.add-to-collections button{
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-to-collections:hover {
  background-color: #e0e0e0;
}

.products-container:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.products-container:hover .product-image {
  transform: scale(1.05);
}

.product-name h3 {
  color: white;
  font-size: 1.2rem;
  margin: 0;
}

.product-price {
  color: white;
  font-size: 1rem;
  margin: 5px 0;
}
