.products {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-comp {
  color: hsl(209, 85%, 52%);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar[type="submit"] {
  background-color: hsl(209, 85%, 52%);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.search-comp {
  margin-bottom: 10px;
}

.search-bar {
  background-color: hsl(209, 85%, 52%);
  ;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.search-text-input {
  width: 100%;
  margin-top: 50px;
  padding: 1px;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.search-text {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.button {
  background-color: #030303;
  padding: 10px;
}

.search {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu {
  margin-top: 50px;
  display: flex;
  
}

.menu li {
  list-style-type: none;
}

.menu-btn {
  background-color: hsl(209, 85%, 52%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 16px;
}

.menu-btn:hover {
  background-color: #000000;
}

.menu-btn-clicked {
  background-color: black;
}

.products-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  overflow: hidden;
  grid-gap: 30px;
  /* #ffd9e3(166, 224, 255); */
}

@media screen and (max-width: 1800px) {
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
  }
}

@media screen and (max-width: 900px) {
  .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
}