Add a new CSS class for the logo */
.logo {
  position: absolute;
  top: 16px;
  left: 16px;
   z-index: 1;
}
/* Set the width and height of the logo image */
.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  background-color: #e7e8e9;
  color: #ffffff;
  z-index: 999;
}

.user-info {
  color: #ffffff;
  display: flex;
  align-items: center;
}

.user-info span {

  color: #000000;
  margin-right: 8px;
  font-size: 14px;
}

.user-info button {
  background-color: transparent;
  border: none;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 16px 8px;
  }

  .nav-links {
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }

  .nav-links li {
    text-align: center;
  }

  .user-info {
    margin-top: 16px;
    justify-content: center;
  }

  .user-info span {
    margin-right: 0;
  }
  
  /* New Styles for Mobile */

  .navbar {
    justify-content: right;
    background-color: #232f3e;
  }

  .nav-links {
    flex-direction: row;
    margin-top: 0;
    gap: 12px;
  }
}


