Add a new CSS class for the logo */
.logo {
  position: absolute;
  top: 16px;
  left: 16px;
   z-index: 1;
}
/* Set the width and height of the logo image */
.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
.collection-click{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aliceblue;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.profile-click{
  width: 100%;
  background-color: aliceblue;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  background-color: #e7e8e9;
  color: #ffffff;
  z-index: 999;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 16px 8px;
  }

  .nav-links {
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }

  .nav-links li {
    text-align: center;
  }

  .user-info {
    margin-top: 16px;
    justify-content: center;
  }

  .user-info span {
    margin-right: 0;
  }
  
  /* New Styles for Mobile */

  .navbar {
    justify-content: right;
    background-color: #232f3e;
  }

  .nav-links {
    flex-direction: row;
    margin-top: 0;
    gap: 12px;
  }
}



.user-info {
  display: flex;
  align-items: center;
}

/* Style for the profile section */
.profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.profile span {
  color: black;
  font-weight: bold;
}

.logout-button {
  background-color: #4fa6d9;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c9302c;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

button a {
  text-decoration: none;
  color: #333;
}

/* Style for the login link */
.user-info a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}

.user-info a:hover {
  text-decoration: underline;
}
